body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: #0b0c10;
    color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    padding: clamp(30px, 6vw, 60px) clamp(16px, 5vw, 40px);
    ;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOTO FLUIDA */
.foto {
    width: clamp(120px, 35vw, 180px);
    height: clamp(120px, 35vw, 180px);
    margin-bottom: clamp(14px, 3vw, 20px);
    border-radius: 60% 40% 55% 45% / 55% 60% 40% 45%;
    overflow: hidden;
    animation: morph 5s infinite ease-in-out;
    border: 4px solid rgba(204, 255, 0, 1);
    /* #CCFF00 */
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 55% 45% / 55% 60% 40% 45%;
    }

    50% {
        border-radius: 40% 60% 45% 55% / 45% 40% 60% 55%;
        /* border-radius: 35% 65% 40% 60% / 40% 35% 65% 50%; */
    }

    100% {
        border-radius: 60% 40% 55% 45% / 55% 60% 40% 45%;
    }
}

h1 {
    margin: 10px 0;
    font-size: clamp(1.4rem, 5vw, 2rem);
}

h3 {
    margin-top: 0;
    min-height: 24px;
    /* mantém espaço enquanto digita */
}

/* CURSOR PISCANDO */
.cursor {
    display: inline-block;
    width: 10px;
    animation: blink 1s step-start infinite;
    color: #ccff00;
    font-weight: bold;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* BIO COM FADE-IN */
.bio-wrapper {
    width: 100%;
    max-width: 700px;
    text-align: left;
    line-height: 1.6;
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    margin-top: 30px;
}

.bio-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    margin-bottom: 20px;
}

.bio-section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* BOTÃO FADE-IN */
.btn {
    padding: 12px 25px;
    background: #ccff00;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 1s ease, transform 0.3s ease;
    margin-top: 20px;
    opacity: 0;
}

.btn.visible {
    opacity: 1;
}

@media (hover: hover) {
    .btn:hover {
        background: #00f0ff;
        transform: scale(1.05);
    }
}

/* Efeito no toque do mobile */
@media (hover: none) {
    .btn:active {
        background: #00f0ff;
        transform: scale(1.05);
    }
}

#message {
    opacity: 0;
    transition: opacity 0.6s;
    color: #ccff00;
    margin-top: 30px;
    /* distância do botão */
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-weight: bold;
}

@media (max-width: 380px) {
    .foto {
        width: 110px;
        height: 110px;
    }
}